/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: white;
}

/* Header Section */
.header {
    min-height: 60vh;
    background:
        linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url('https://scontent.xx.fbcdn.net/v/t1.15752-9/459163115_1685717485544894_2996375280863272006_n.png?_nc_cat=102&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeGOOTTgo74vEto63TDLobRY-XocXpV9kOb5ehxelX2Q5rR7SOTgb6i_-tvvp9mHsqrLbm4ZJJdtd1PLdzif_C4c&_nc_ohc=Ziy69O-KFQwQ7kNvgGlHGAG&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_gid=AfUsHGjSceFYmilqeH3s6JZ&oh=03_Q7cD1QGNlxMDHqU1MSNL3Vfj5FfgP4tmJ8jhBviyRqtfvO-eJg&oe=67177722');
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 48px;
    font-weight: 600;
    text-shadow: 2px 2px 4px black;
}

.header p {
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}

/* Navigation Section */
nav {
    margin-top: 20px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.button {
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #0bc3f1;
    color: #2357c9;
}

.button.active {
    background: #2357c9;
    border-color: #0bc3f1;
}

/* Art Section */
.art-section {
    margin-bottom: 40px;
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    text-align: center;
    /* This centers the text inside the .art-section */
}

.art-section h2 {
    font-size: 2.5rem;
    color: #0bc3f1;
    padding-bottom: 60px !important;
    width: 100%;
    /* Ensure that the h2 takes full width */
    text-align: center;
    /* Make sure it's centered */
}

.image-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.interior-image1,
.interior-image2,
.interior-image3,
.interior-image4,
.interior-image5,
.environment-image1,
.environment-image2,
.environment-image3,
.environment-image4,
.environment-image5,
.environment-image6,
.donut-image1,
.donut-image2,
.misc-image1,
.misc-image2,
.misc-image3,
.misc-image4 {
    width: 100%;
    height: auto;
    max-height: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.belowimage-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.belowimage-container2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

/* Hover Effect */
.interior-image1:hover {
    box-shadow: 0 0 15px 5px rgb(7, 117, 243); 
}

.interior-image2:hover {
    box-shadow: 0 0 15px 5px rgb(23, 170, 133);
}

.interior-image3:hover {
    box-shadow: 0 0 15px 5px rgb(245, 245, 220);
}

.interior-image4:hover {
    box-shadow: 0 0 15px 5px rgb(48, 140, 245);
}

.interior-image5:hover {
    box-shadow: 0 0 15px 5px rgb(62, 86, 223);
}

.environment-image1:hover {
    box-shadow: 0 0 15px 5px rgb(107, 208, 255);
}

.environment-image2:hover{
    box-shadow: 0 0 15px 5px rgb(235, 189, 38);
}

.environment-image3:hover{
    box-shadow: 0 0 15px 5px rgb(47, 235, 10);
}

.environment-image4:hover{
    box-shadow: 0 0 15px 5px rgb(130, 44, 243);
}

.environment-image5:hover{
    box-shadow: 0 0 15px 5px rgb(85, 250, 209);
}

.environment-image6:hover{
    box-shadow: 0 0 15px 5px rgb(4, 48, 73);
}

.donut-image1:hover{
    box-shadow: 0 0 15px 5px rgb(90, 72, 60);
}

.donut-image2:hover{
    box-shadow: 0 0 15px 5px rgb(9, 238, 226);
}

.misc-image1:hover{
    box-shadow: 0 0 15px 5px rgb(2, 113, 240);
}

.misc-image2:hover{
    box-shadow: 0 0 15px 5px rgb(153, 2, 240);
}

.misc-image3:hover{
    box-shadow: 0 0 15px 5px rgb(0, 110, 255);
}

.misc-image4:hover{
    box-shadow: 0 0 15px 5px rgb(255, 160, 160);
}

/* Responsive Adjustments */
@media(max-width: 768px) {
    .button {
        font-size: 1.2rem;
        padding: 8px 16px;
    }

    .art-section h2 {
        font-size: 2rem;
    }

    .image-container{
        flex-direction: column;
    }
    
    .interior-image1,
    .interior-image2,
    .interior-image3,
    .interior-image4,
    .interior-image5,
    .environment-image1,
    .environment-image2,
    .environment-image3,
    .environment-image4,
    .environment-image5,
    .environment-image6,
    .donut-image1,
    .donut-image2,
    .misc-image1,
    .misc-image2,
    .misc-image3,
    .misc-image4{
        width: 100%;
    }
}